<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105091510458-okeorul290gschcso4pmu01f1qektko0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105091510458-okeorul290gschcso4pmu01f1qektko0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105091510458-9v82goav49rt44i1afnfr56lsb1a4dcm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxobAeGujInkyge-6n18y4Sce9NfTIh8s</string>
	<key>GCM_SENDER_ID</key>
	<string>105091510458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itbebop.flutterGitBlog</string>
	<key>PROJECT_ID</key>
	<string>flutter-git-blog-eb630</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-git-blog-eb630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105091510458:ios:f8cfe317b395591434d283</string>
</dict>
</plist>